.hm-container{
    background: url('../../assets/section-bg.jpeg');
    display:flex;
    align-items: center;
    padding:20px;
}
.hm-items{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.hm-item{
    display:flex;
  
}
.hm-item img{
    width: 50%;
    height: 50%;

}

.hm-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
    margin-top:-5px;
}
.hm-text h1{
    font-size: 3rem;
    font-weight: 500;
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.hm-text p{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    margin-top: 0px;
}